<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="RandomPicture">
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%m%n"/>
        </Console>
        <File name="MyFile" fileName="randompicture.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
        </File>
        <Async name="Async">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="MyFile"/>
        </Async>
    </Appenders>
    <Loggers>
        <Logger name="be.algielen" level="debug" additivity="false">
            <AppenderRef ref="Async>"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="Async"/>
        </Root>
    </Loggers>
</Configuration>